<h2>Index View Content</h2>

<h3>All Categories</h3>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Is Available</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Shirts</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Home Appliances</td>
        <td>No</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Grocery</td>
        <td>Yes</td>
    </tr>
</table>